@font-face {
  font-family: "steafont";
  src: url(./fonts/steafont.otf);
}
@font-face {
  font-family: "castor";
  src: url(./fonts/castorgate.ttf);
}
body{
  background-color: lavenderblush;
}
p.webname{
  word-spacing: 18px;
}
hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding: 0;
}
a.link:hover{
  color: LightGray;
}
/*a.last:hover{
  color: LightGray;
}*/
a.link:not(:last-child)::after{
  padding-left: 20px;
  content: '\00B7';
  color: black;
}
/***********SCROLL/DROPDOWN***********/
div.webname{
  font-size: 150%;
  word-spacing: 18px;
}
.dropdown{
  background-color: lavenderblush;
  text-align: center;
  width: 100%;
  position: fixed;
  padding-top: 30px;
  padding-bottom: 50px;
  top: 0px;
  border-bottom: black solid 2px;
}

.dropdown a{
  width: 20%
  display: inline-block;
  font-family: castor;
  color: black;
  text-decoration: none;
  font-size: 0px;
  padding-right: 20px;
}
.smallNav {
  height: 100px;
  display: inline-block;
  text-align: center;
}
.smallNav a {
  height: 400px;
}
.dropbtn{
  margin-left: 45px;
  margin-top: 17px;
  position: fixed;
}
.bar1, .bar2, .bar3{
  display: block;
  width: 60px;
  height: 8px;
  margin-bottom: 10px;
  background-color: black;
  transition: 0.4s;
}

/*Following called from the my.js file*/
.fontIncrease a {/*when bars are clicked, smallNav is unhidden*/
  font-size: 150%;
}
.fontDecrease a {/*when bars are clicked, smallNav is unhidden*/
  font-size: 0%;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 8px) ;
    transform: rotate(-45deg) translate(-9px, 8px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, 20px) ;
    transform: rotate(45deg) translate(-15px, -15px) ;
}

/*removes menu button and makes links visible once screen size can't fit everything*/
@media screen and (max-width: 800px) {
  .bar1, .bar2, .bar3{
    opacity: 0;
  }
  .dropdown a{
    font-size: 120%;
  }
}
.bar1, .bar2, .bar3, .dropdown a, .dropbtn{
    -webkit-transition:all 1s ease;
         -moz-transition:all 1s ease;
               -o-transition:all 1s ease;
                     transition:all 1s ease;
}
/***********DROPDOWN END***********/


.topbar{/*contains entire navigational bar*/
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  margin:auto;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  background-color: lavenderblush;
  height: 275px;
}
.navbar {/*contains links in navigational bar*/
    font-family: castor;
    float: none;
    vertical-align: top;
    background-color: lavenderblush;
    text-align: center;
    width: 100%;
  }
  .navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 180%;
    padding-right: 20px;
  }
  .webname{/*contains the website name*/
    font-family: castor;
    font-size: 20px;
    padding-bottom: 20px;

  }
  .ToriLogo{/*contains the header 'miss penak'*/
    font-family: steafont;
    font-size: 75px;
    margin:auto;
    width: 200px;
    text-align: center;
    color: black;
  }
  .Title{/*contains 'miss penak' and webname*/
    text-align: center;
  }
  .ToriLogo:link{
    text-align: center;
    text-decoration: none;
  }
  .Logo{
    display: block;
    margin:auto;
    width: 200px;
    text-align: center;
    padding-top: 20px;
  }
  .row2{
    margin:auto;
  }
  .content{
    padding-top: 1px;
    padding-bottom: 0.5px;
  }
  .mainbar{
    display: inline-block;
    margin:275px;
  }
  .mainbar p{
    width: 80%;
    margin: 40px;
  }
  .leftbar{
    float: left;
    height: 500px;
    width: 60%;
  }
  .rightbar{
    float: right;
    height: 500px;
    width: 40%;
  }
  @media screen and (max-width: 400px) {
    .leftbar {
        width:1000px;
        clear: both;
    }
    .rightbar {
        width:1000px;
        clear: both;
    }
}
