@font-face {
  font-family: "steafont";
  src: url(./fonts/steafont.otf);
}
@font-face {
  font-family: "castor";
  src: url(./fonts/castorgate.ttf);
}
body{
  background-color: seashell;
}
p.webname{
  word-spacing: 18px;
}
hr {
  display: block;
  height: 0px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding: 0;
}
a.link:hover{
  color: LightGray;
}
a.last:hover{
  color: LightGray;
}
a.link::after{
  padding-left: 20px;
  content: '\00B7';
  color: black;
}
.topbar{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  margin:auto;
  border-bottom: 2px solid black;
  background-color: seashell;
  height: 275px;
}
.navbar {
    font-family: castor;
    float: none;
    vertical-align: top;
    background-color: seashell;
    text-align: center;
    padding-bottom: 20px;
  }
  .navbar a {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 25px;
    padding-right: 20px;
  }
  .webname{
    font-family: castor;
    font-size: 20px;
    padding-bottom: 20px;

  }
  .ToriLogo{
    font-family: steafont;
    font-size: 75px;
    margin:auto;
    width: 200px;
    text-align: center;
    color: black;
  }
  .Title{
    text-align: center;
  }
  .ToriLogo:link{
    text-align: center;
    text-decoration: none;
  }
  .Logo{
    display: block;
    margin:auto;
    width: 200px;
    text-align: center;
    padding-top: 20px;
  }
  .row2{
    margin:auto;
  }
  .content{
    padding-top: 1px;
    padding-bottom: 0.5px;
  }
  .mainbar{
    display: inline-block;
    margin:275px;
  }
  .mainbar p{
    margin: 40px;
  }
  .leftbar{
    float: left;
    height: 500px;
    width: 60%;
  }
  .rightbar{
    float:left;
    height: 500px;
    width: 40%;
  }
